/* stylelint-disable */

.header__top {
  position: relative;
  z-index: 5;
  overflow: hidden;
  width: 100%;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  background: linear-gradient(
      181.37deg,
      rgba(0, 156, 222, .85) 0%,
      rgba(1, 153, 219, .85) 29.87%,
      rgba(29, 66, 138, .85) 100%
    ),
    url('../../img/header_bg_2.jpg') top center no-repeat;
  background-size: cover;
  transition: all .4s ease-in-out;

  @supports (backdrop-filter: blur(3px)) {
    backdrop-filter: blur(3px);
  }

  &.opened {
    overflow: visible;
    max-height: 1500px;
    opacity: 1;
    pointer-events: all;

    @media #{$m-to-m} {
      max-height: 100vh;
    }
  }

  @media #{$m-to-m} {
    max-height: 110px;
    opacity: 1;
    pointer-events: all;
  }
}

.header__button-wrap {
  margin-bottom: 10px;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  transition: all .3s ease-in-out;

  &.opened {
    margin-bottom: -37px;
  }

  @media #{$m-to-m} {
    display: none;
  }
}

.header__button {
  position: relative;
  z-index: 9;
  padding: 10px 0;
  display: block;
  width: 115px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #1469a6;
  border: 0;
}

.region-header-top-main-nav {
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  align-items: center;

  @media #{$m-to-m} {
    padding: 0;
    overflow-y: auto;
    height: calc(100vh - 110px);
    flex-direction: column;
  }
}

#block-ila-career-center-media-links,
#block-ila-career-center-forms-links-second {
  display: none;

  @media #{$m-to-m} {
    display: block;
  }
}

#block-cc-mobile-menu {
  display: none;

  @media screen and (max-width: 975px) {
    display: block;
  }
}

#block-sitebranding-menu-open {
  @media #{$m-to-m} {
    display: none;
  }
}

#block-ila-career-center-main-navigation {
  @media #{$m-to-m} {
    width: 100%;
  }
}

#block-ila-career-center-media-links {
  padding: 0 50px;
  width: 100%;
  text-align: left;

  ul.menu {
    > .menu-item {
      margin-bottom: 10px;

      > a {
        position: relative;
        padding-right: 20px;
        min-width: 100px;
        font-size: 15px;
        font-weight: 400;

        &::after {
          position: absolute;
          top: 50%;
          right: 0;
          bottom: 0;
          width: 16px;
          height: 15px;
          content: '';
          transform: translateY(-50%);
        }

        &:hover {
          color: #ffffff;
        }
      }

      .icon-downloads {
        &::after {
          background: url('../../img/svg/download-white.svg') center no-repeat;
          background-size: contain;
        }
      }

      a[title='icon-media'] {
        &::after {
          background: url('../../img/svg/camera-white.svg') center no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

.region-header-top {
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, .6);
  border-bottom: 1px solid #ffffff;

  .field--type-text-with-summary {
    font-size: 14px;
    font-weight: 500;
    color: $c-white;

    @media screen and (max-width: 975px) {
      text-align: center;
    }
  }

  .block-simple-blocksite-header-text {
    .download-ics {
      position: relative;
      padding-left: 19px;
      color: $c-white;
      background-size: 13px 14px;
      transition: none;

      &::before {
        position: absolute;
        top: 1px;
        bottom: 0;
        left: 0;
        width: 13px;
        height: 14px;
        content: '';
        background: url(../../img/svg/ics.svg) no-repeat center;
        background-size: contain;
      }

      &:hover,
      &:focus {
        color: $c-blue-light;

        &::before {
          background: url(../../img/svg/ics-hover.svg) no-repeat center;
        }
      }
    }
  }

  .menu--media {
    margin-left: auto;

    @media screen and (max-width: 975px) {
      display: none;
    }
  }

  .menu {
    display: flex;
    align-items: stretch;

    &__item,
    &-item {
      display: inline-block;

      > a {
        display: block;
        height: 100%;
        font-weight: 400;
        text-decoration: none;
        color: $c-blue;

        &:hover,
        &:focus {
          color: $c-blue-light;
        }
      }
    }

    &--forms {
      @media screen and (max-width: 975px) {
        display: none;
      }
    }

    &--form {
      .menu__item {
        margin-right: 2px;

        a {
          padding: 10px 30px;
          font-weight: 400;
          text-decoration: none;
          background-color: rgba($c-white, .6);

          &.is-active,
          &:hover,
          &:focus {
            color: $c-blue-light;
          }
        }
      }
    }

    &--media {
      .menu-item,
      .menu__item {
        margin-right: 50px;

        a {
          position: relative;
          padding: 10px 30px;
          padding-right: 25px;
          display: block;
          line-height: 1;
          transition: .1s;

          &.is-active,
          &:hover,
          &:focus {
            color: $c-blue-normal;
          }
        }

        a[title='icon-media'] {
          &::after {
            position: absolute;
            top: 10px;
            right: 0;
            bottom: 0;
            width: 16px;
            height: 15px;
            content: '';
            background: url(../../img/svg/camera.svg) no-repeat center;
            background-size: contain;
          }

          &.is-active,
          &:hover,
          &:focus {
            &::after {
              background-image: url(../../img/svg/camera-hover.svg);
            }
          }
        }

        .icon-downloads {
          &::after {
            position: absolute;
            top: 10px;
            right: 0;
            bottom: 0;
            width: 16px;
            height: 14px;
            content: '';
            background: url(../../img/svg/download.svg) no-repeat center;
            background-size: contain;
          }

          &.is-active,
          &:hover,
          &:focus {
            &::after {
              background-image: url(../../img/svg/download-hover.svg);
            }
          }
        }

        @media screen and (max-width: 1120px) {
          margin-right: 20px;
        }
      }
    }

    @include list-reset();
  }

  @media screen and (max-width: 975px) {
    padding: 0 10px;
    height: 50px;
  }
}

.toolbar-fixed {
  .header.is-sticky {
    margin-top: 39px;
  }

  // .header__top {
  //   top: 39px;
  // }
}

.toolbar-tray-open {
  &.toolbar-horizontal {
    .header.is-sticky {
      margin-top: 80px;
    }

    // .header__top {
    //   top: 80px;
    // }
  }
}

#block-ila-career-center-language-switcher {
  margin-left: 25px;

  .links {
    white-space: nowrap;

    li {
      padding: 0 10px;
      display: inline-block;
      line-height: 1;

      &.is-active {
        .language-link {
          font-weight: 900;
        }
      }
    }

    li + li {
      border-left: 1px solid $c-blue;
    }

    .language-link {
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
      color: $c-blue;
    }

    @include list-reset;
  }

  @media screen and (max-width: 975px) {
    display: none;
  }
}

.user-logged-in .login-link {
  display: none !important;
}

.link-logged-in {
  display: none !important;
}

.user-logged-in .link-logged-in {
  display: block !important;
}

#block-tabs {
  position: absolute;
  z-index: 1;
  top: 7px;
  padding: 0 50px;

  @media #{$m-to-m} {
    position: relative;
    padding: 10px;
  }
}

.mobile-button {

  &__trigger {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: $c-white;
    background: none;
    border: none;
  }

  &__icon {
    position: relative;
    margin-left: 14px;
    display: inline-block;
    width: 18px;
    height: 15px;
  }

  &__line {
    position: absolute;
    width: 100%;
    height: 3px;
    text-indent: -9999px;
    background: $c-white;
    border-radius: 2px;
    transition: .3s;
    transition: top .3s .3s, transform .3s 0s, opacity .3s .3s, height .3s 0s;
    transform-origin: center;

    &--1 {
      top: 0;
    }

    &--2 {
      top: 6px;
    }

    &--3 {
      top: 12px;
    }
  }

  @media #{$m-to-m} {
    display: block;
  }
}

.header__top.opened {
  .mobile-button {
    &__trigger {
      border-bottom: 1px solid #ffffff;
    }

    &__line {
      height: 5px;
      transition: top .3s 0s, transform .3s .3s, opacity .3s 0s, height .3s .3s;

      &--1 {
        top: 5px;
        transform: rotate(45deg);
      }

      &--2 {
        opacity: 0;
      }

      &--3 {
        top: 5px;
        transform: rotate(-45deg);
      }
    }
  }
}

/* stylelint-enable */
