{#
/**
 * @file ila_registration_booth.html.twig
 * Default theme implementation to present Booth data.
 *
 * This template is used when viewing Booth pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ila_registration_booth()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('ila_registration_booth') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
