/* stylelint-disable */

.paragraph-content--view-display-id-careercenter_job_offers_search {
  margin: 60px auto;
  padding-bottom: 20px;
  max-width: 1440px;

  .view-careercenter-job-offers {
    position: relative;
    padding-top: 40px;
    padding-right: 8%;
    padding-bottom: 100px;
    display: flex;
    width: 100%;

    @media #{$m-to-l} {
      padding-right: 0;
    }

    @media #{$m-to-m} {
      padding-top: 20px;
      padding-right: 0;
      padding-bottom: 80px;
      flex-direction: column;
    }

    &::before {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0 auto;
      width: 84%;
      max-width: 1200px;
      height: 100%;
      content: '';
      background: url('../../assets/images/diagonal-lines-light.svg') repeat, $career-green;

      @media #{$m-to-m} {
        width: 100%;
      }
    }

    &::after {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      max-width: 1200px;
      height: 100%;
      max-height: 880px;
      content: '';
      // background: radial-gradient(circle, rgba(0, 156, 222, 0) 0%, #2dccd3 100%);
      background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 60%,
        rgba(45, 204, 211, .3) 61%,
        rgba(45, 204, 211, .4) 100%
      );

      @media #{$m-to-m} {
        display: none;
      }
    }

    .view-header {
      padding: 40px 80px 60px 40px;
      width: 33%;
      max-width: 440px;
      font-size: 18px;
      color: #ffffff;
      background-color: $career-dark;

      @media #{$m-to-4xl} {
        padding: 20px 20px 40px;
      }

      @media #{$m-to-m} {
        margin-bottom: 20px;
        padding: 10px;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        max-height: 65px;
        font-size: 14px;
        transition: all .5s ease-in-out;

        &.opened {
          max-height: 2500px;
        }
      }
    }

    .jobs-header {
      font-family: $career-font;
      font-size: 62px;
      font-weight: 900;
      text-transform: uppercase;
      color: $career-green;

      @media #{$m-to-m} {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 32px;
      }
    }

    .show-filters {
      position: relative;
      padding-left: 30px;
      display: none;
      font-family: $main-font;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      color: $career-green;
      cursor: pointer;

      &::after {
        position: absolute;
        top: 2px;
        left: 0;
        display: inline-block;
        width: 23px;
        height: 20px;
        content: '';
        background: url('../../assets/images/equalizer.svg') center no-repeat;
      }

      @media #{$m-to-m} {
        display: block;
      }
    }

    .block-views-exposed-filter-blockcareercenter-job-offers-careercenter-job-offers-search {
      color: $career-dark;

      .form-text {
        padding: 15px 20px;
        width: 100%;
        border: 1px solid #979797;
        border-radius: 0;

        @media #{$m-to-m} {
          padding: 10px 15px;
        }
      }

      .form--inline {
        position: relative;
      }

      .form-item {
        margin-right: 0;
        width: 100%;
      }

      .form-actions {
        position: absolute;
        top: 50%;
        right: 0;
        margin: 0;
        transform: translateY(-50%);
      }

      .button {
        width: 40px;
        height: 40px;
        font-size: 0;
        background: url('../../assets/images/target-icon.svg') center/cover no-repeat;
        border: 0;
      }
    }

    .reset-facet-filters {
      @extend .button-career;

      margin-top: 15px;
      padding: 10px 0;
      width: 100%;
    }

    .view-content {
      padding-right: 20px;
      width: 66%;

      @media #{$m-to-m} {
        padding-right: 0;
        width: 100%;
      }
    }

    .pager {
      position: absolute;
      z-index: 2;
      bottom: -7px;
      left: 0;
      margin: 0;
      padding-left: 30%;

      @media #{$m-to-m} {
        padding-left: 0;
      }

      .button {
        @extend .button-career;
      }
    }

    .view-footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      margin: 0 auto;
      width: 84%;
      max-width: 1200px;
      background-color: $career-dark;

      @media #{$m-to-m} {
        width: 100%;
      }

      > .view-careercenter-job-offers {
        padding: 0;
        display: block;
        background: none;

        &::before,
        &::after {
          display: none;
        }

        > .view-header {
          margin: 0;
          padding: 5px 20px;
          width: 100%;
          max-width: 100%;
          font-weight: 700;
          text-align: right;
          color: $career-green;

          @media #{$m-to-m} {
            padding: 5px 10px;
          }

          > a {
            color: $career-green;
          }
        }
      }
    }
  }

  .block-ila-facets-block {
    .facets-widget-checkbox {
      ul {
        padding: 0;

        li {
          padding: 5px 0;
          list-style-type: none;
          border-bottom: 1px solid #ffffff;

          &:first-of-type {
            border-top: 1px solid #ffffff;
          }
        }
      }
    }
  }

  .views-infinite-scroll-content-wrapper {
    .views-row {
      margin-bottom: 40px;

      &:last-of-type {
        margin-bottom: 0;
      }

      @media #{$m-to-m} {
        margin-right: 10px;
        margin-bottom: 30px;
        margin-left: 10px;
      }
    }

    .node--type-job-offer {
      position: relative;
      padding: 30px 0 10px;
      background-color: #ffffff;
      border: 1px solid $career-green;
      box-shadow: 5px 5px 0 0 $career-dark;

      @media #{$m-to-m} {
        font-size: 13px;
      }
    }

    .wrapper--top {
      position: relative;
      margin-right: 12px;
      margin-bottom: 10px;
      padding: 0 0 10px 20px;
      display: flex;
      max-width: calc(100% - 128px);
      min-height: 110px;
      flex-direction: column;
      justify-content: space-around;
      border-bottom: 3px solid $career-green;

      @media #{$m-to-m} {
        margin-right: 10px;
        margin-left: 10px;
        padding: 0 0 10px;
        max-width: 100%;
        min-height: 0;
      }
    }

    .wrapper--bottom {
      padding: 0 20px;

      @media #{$m-to-m} {
        padding: 0 10px;
      }
    }

    .wrapper--top--title-with-logo {
      @media #{$m-to-m} {
        display: flex;
        justify-content: space-between;
      }
    }

    .field--name-field-job-logo {
      position: absolute;
      top: 0;
      right: 0;
      padding-left: 15px;
      background-color: #ffffff;
      transform: translateX(100%);

      @media #{$m-to-m} {
        position: relative;
        margin-left: 20px;
        padding-left: 0;
        max-width: 70px;
        flex-shrink: 0;
        transform: none;
      }
    }

    .field--name-node-title {
      a {
        color: $career-dark;
      }

      h2 {
        font-size: 21px;

        @media #{$m-to-m} {
          font-size: 19px;
        }
      }
    }

    .wrapper--top--offerer-info {
      color: #646672;

      > .field {
        display: inline-block;
      }

      a {
        font-weight: 700;
        text-decoration: underline;
        color: #646672;
      }
    }

    .wrapper--bottom--jobpost-details {
      max-width: calc(100% - 150px);
      font-weight: 700;

      > .field {
        margin-right: 18px;
        display: inline-block;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .flag {
      position: absolute;
      right: -30px;
      bottom: 0;
      transform: translateY(50%);

      @media #{$m-to-m} {
        right: -1px;
      }
    }
  }

  .view-empty {
    margin: 0 0 0 50px;
    font-size: 21px;
    font-weight: 600;
    color: $career-dark;
  }
}

/* stylelint-enable */
