.language-switcher-language-url {
  display: flex;
  align-items: center;
  .links {
    @include list-reset;
    display: flex;

    li {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;

      + li {
        border-left: 1px solid $c-white;
      }

      a {
        font-size: 14px;
        font-weight: 400;
        color: $c-white;
        text-transform: uppercase;
        line-height: 1;
        transition: .3s;
        padding: 0 5px;

        &:hover,
        &:focus {
          text-decoration: none;
          opacity: .7;
        }
      }

      &.is-active {
        a {
          font-weight: 700;
        }
      }
    }
  }
}