.view-press-media-search,
.view-press-media-entity-search {
  .js-form-item-field-press-media-category-target-id {
    display: none;
  }
  .bef-exposed-form {
    .media-image-level2-area {
      ul li.disable {
        display: none;
      }
      ul li.active {
        display: block;
      }
    }
  }

  .pager {
    padding: 10px 0;
    border-top: 1px solid #009cde;

    .pager__items {
      margin: 0;
      padding: 0;
    }

    .pager__item {
      display: inline-block;
      vertical-align: middle;

      a {
        color: $c-blue;
      }

      &.is-active {
        border: 1px solid $c-blue;
        border-radius: 50%;
        height: 38px;
        width: 38px;
      }

      &--next,
      &--previous,
      &--first,
      &--last {
        font: {
          size: 25px;
          weight: bold;
        }
        margin-bottom: 6px;
        padding: {
          left: 5px;
          right: 5px;
        }
      }
    }
  }
}

.view-press-media-search,
.view-press-media-entity-search {
  padding-bottom: 50px;
  border-bottom: 1px solid $c-blue-normal;
  margin-bottom: 50px;

  .view-content {
    display: flex;
    flex-wrap: wrap;

    > h3 {
      width: 100%;
      padding-bottom: 15px;
      color: $c-blue-normal;
      border-bottom: 1px solid $c-blue-normal;
      font-size: 15px;
      font-weight: 300;
      margin-bottom: 20px;
    }
  }

  &.media-video {
    border-bottom: 0;
    padding: 0;
    .view-header {
      max-height: 250px;
      border:0;
      margin-top: 50px;
    }
    .views-row {
      width: 33% !important;
      @media screen and (max-width: 767px) {
        width: 50% !important;
        &:nth-child(odd) {
          padding-right: 5px !important;
        }
        &:nth-child(even) {
          padding-left: 5px !important;
        }
      }
      @media screen and (max-width: 599px) {
        width: 100% !important;
        &:nth-child(odd),
        &:nth-child(even){
          padding: 0 !important;
        }
      }
      img {
        width: 100%;
      }
      h3 {
        font-size: 17px;
        margin-top: 20px;
      }
      .field-video-file-download {
        a {
          &::before {
            content:'';
            height: 0;
            width: 60px;
            outline: none;
            border: 30px solid transparent;
            border-left: 50px solid #fff;
            border-right: none;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  &.media-audio {
    border-bottom: 0;
    .view-header {
      border:0;
      max-height: 250px;
    }
    .view-content {
      border-bottom: 1px solid $c-blue-normal;
    }
    .views-row {
      width: 50%;
      @media screen and (max-width: 599px) {
        width: 100%;
      }
      .audio-download-wrapper {
        .icon {
          background: url(../img/svg/o-ton-icon.svg) no-repeat top center;
          background-size: 60px auto;
        }
        @media screen and (min-width: 600px) {
          display: flex;
          flex-wrap: wrap;
          .icon {
            width: 25%;
          }
          .download {
            width: 75%;
          }
        }
        @media screen and (min-width: 768px) {
          .icon {
            width: 20%;
          }
          .download {
            width: 80%;
          }
        }
      }
      h3 {
        font-size: 17px;
      }
    }
  }

  .views-row {
    width: 25%;
    margin-bottom: 60px;
    padding: 0 5px;

    @media screen and (max-width: 1023px) {
      width: 33.33%;
    }

    @media screen and (max-width: 767px) {
      width: 50%;
    }

    @media screen and (max-width: 599px) {
      width: 100%;
      padding: 0;
    }

    .layout__region {
      display: flex;

      > .field--type-image {
        flex: 1 1 37.5%;
        min-width: 37.5%;
      }

      .text-wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 35px;
        flex: 1 1 62.5%;
        word-wrap: break-word;
        word-break: break-word;

        @media screen and (max-width: 480px) {
          margin-left: 15px;
        }

        .field--name-node-title h2 {
          font-size: 15px;
          margin-bottom: 5px;
        }

        .field--name-node-post-date {
          color: $c-blue-normal;
          font-size: 15px;
          font-weight: 300;
          margin-bottom: 15px;
        }

        // .field--type-ds {
        //   margin-top: auto;
        //   margin-bottom: auto;
        // }

        .field--type-file {
          padding-top: 10px;
          margin-top: auto;
          a {
            @extend .btn;
          }
        }
      }
    }
  }
}

.view-press-media-search,
.view-press-media-entity-search {
  .view-content {
    border-top: 1px solid #009cde;
    padding-top: 50px;
  }
}

.media-audio-video-filter,
.media-image-filter {
   .view-content {
     display: none !important;
   }
 }

.media-audio-video-filter,
.media-image-filter {
  padding-bottom: 0;
  //border-bottom: 0;
  margin-bottom: 60px;
  display: flex;
  padding-bottom: 20px;

  @media #{$m-to-l} {
    flex-wrap: wrap;
  }
  .view-header {
    width: 50%;
    padding-right: 20px;

    @media #{$m-to-l} {
      width: 100%;
    }
  }
  .view-filters {
    width: 50%;
    display: flex;
    align-items: flex-end;
    padding-left: 15px;

    @media #{$m-to-l} {
      align-items: flex-start;
      width: 100%;
      max-width: 600px;
      padding-left: 0;
    }
    @media #{$m-to-l} {
      align-items: flex-start;
      width: 100%;
      max-width: 600px;
      padding-left: 0;
    }

    form {
      margin-bottom: 22px;
      width: 100%;
      .form-item {
        margin-right: 30px;
        width: calc(100% - 185px);

        @media screen and (max-width: 400px) {
          width: 100%;
        }
      }
    }

    .form-actions {
      display: inline-block;
      margin-top: 0;
    }
  }
}

.media-image-filter {
  border-bottom: 0;
  margin-bottom: 0;
}

.media-audio, .media-video, .media-image-filter-custom {
  margin-bottom: 0;
  padding-bottom: 0;

  .view-header {
    margin-bottom: 70px;
    max-width: 535px;
  }

  .view-header-title {
    @extend .h3;
  }

  .view-content {

    .views-row {
      padding: 0;
      margin-bottom: 60px;

      &:nth-child(even) {
        padding-left: 10px;

        @media screen and (max-width: 768px) {
          padding-left: 0;
        }
      }
      &:nth-child(odd) {
        padding-right: 10px;

        @media screen and (max-width: 768px) {
          padding-right: 0;
        }
      }
    }

    .views-field-title {
      @extend .h3;
      font-size: 15px;
      text-transform: uppercase;
      margin-bottom: 7px;
      display: block;
    }

    .field-content {
      margin-bottom: 20px;
    }

    .views-field-filemime, .views-field-filesize {
      display: list-item;
      padding-left: 25px;
      list-style: none;
      position: relative;
      margin-bottom: 10px;
      &::before {
        content: "\2022";
        position: absolute;
        left: 2px;
        font-size: 15px;
      }
    }

    .views-field-field-file-1, .views-field-field-file {
      display: inline-block;
      margin-top: 25px;
      a {
        @extend .btn;
      }
    }
    .views-field-field-file-1 {
      margin-right: 15px;
    }
  }
}

.media-video {
  margin: {
    bottom: 50px;
    top: 50px;
  }

  .views-field-field-file-1 {
    margin-right: 0 !important;
  }

  .download-media-video-wrapper {
    position: relative;

    .field-video-file-download {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      a {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        border: 0;
        //background-color: rgba(0, 0, 255, 0.25);
        background: linear-gradient(225deg, rgba(0, 159, 222, 0.6) 0%, rgba(29, 67, 138, 0.6) 100%);

        &:hover {
          .link-media-video-download {
            color: #ffffff;
          }
        }

        .link-media-video-download {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @extend .btn;
          color: #ffffff;
          border-color: #ffffff;
          z-index: 1;
        }
      }
    }

    .field-video-preview-image {
      position: relative;
      overflow: hidden;
      min-height: 46px;

      @media #{$m-to-s} {
        height: auto;
      }

      img {
        @media #{$m-to-s} {
          position: static;
          transform: none;
        }
      }
    }
  }
}

.media-image-filter-custom {
  padding-bottom: 0;
  border-bottom: 0;

  .view-content {
    display: none !important;
  }

  .form-actions {
    display: none;
  }

  .view-header {
    margin-bottom: 55px;
  }
}


.media-image-filter-lists {

  .media-image-level1-area, .media-image-level2-area {
    padding: 30px 0 10px;
    border-bottom: 1px solid #009cde;
    border-top: 1px solid #009cde;
    margin-top: -1px;
    min-height: 80px;
    //margin-bottom: 30px;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;

      li {
        list-style: none;
        margin-bottom: 17px;
        margin-right: 30px;

        a {
          @extend .h3;
          font-size: 15px;
          text-transform: uppercase;
        }

        &.active, &:hover {
          a {
            color: #2dccd3;
          }
        }
      }
    }
  }
}

.media-image.view-press-media-search,
.media-image.view-press-media-entity-search {
  padding-bottom: 0;

  .view-content {
    margin: 0 -10px;

    .views-row {
      margin-bottom: 60px;
      padding: 0 10px 55px;
      position: relative;

      .field-media-image-layout {
        span {
          display: block;

          // @media #{$m-to-s} {
          //   flex-wrap: wrap;
          // }
        }

        .image-wrapper {
          margin-bottom: 25px;

          .text-field-image {
            position: relative;
            max-height: 180px;
            overflow: hidden;

            @media #{$m-to-s} {
              display: inline-block;
            }

            &::before {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              background: transparent;
              transition: all .3s;
              background: linear-gradient(225deg, rgb(0, 159, 222) 0%, rgb(29, 67, 138) 100%);
              opacity: 0;
            }
            &::after {
              content: '';
              position: absolute;
              width: 35px;
              height: 36px;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              background: transparent;
              transition: all .3s;
              background: url(../img/zoom.png) no-repeat center;
              background-size: contain;
              opacity: 0;
            }

            &:hover {
              cursor: pointer;
              &::before {
                opacity: 0.6;
              }
              &::after {
                opacity: 1;
              }
            }

            img {
              width: 100%;
            }
          }
        }

        .text-wrapper {
          word-wrap: break-word;
          word-break: break-word;

          .text-title {
            @extend .h3;

            cursor: pointer;
            font-size: 15px;
            margin-bottom: 10px;
            text-transform: uppercase;
          }

          .text-body {
            margin-bottom: 10px;
          }

          .text-filemime, .text-filesize {
            display: list-item;
            padding-left: 25px;
            list-style: none;
            position: relative;
            margin-bottom: 10px;
            &::before {
              content: "\2022";
              position: absolute;
              left: 2px;
              font-size: 15px;
            }
          }

          .text-buttons {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: space-between;

            .text-field_file_1, .text-field_file {
              margin: 0 10px;
              width: 50%;

              a {
                @extend .btn;
                min-width: auto;
                width: 100%;
                padding: 4px 18px;
              }
            }
          }
        }
      }
    }
  }
}

.view-press-media-search,
.view-press-media-entity-search,
.view-press-media-download-search {
  max-width: 1440px;
  margin: 0 auto 50px;
  padding: 0 15px;
  position: relative;
  .view-filters {
    margin-bottom: 25px;
    @media (min-width: 768px) {
      position: absolute;
      top: -130px;
      right: 50%;
      margin-bottom: 0;
      width: 100%;
      max-width: 1145px;
      padding-right: 15px;
      display: flex;
      justify-content: flex-end;
      transform: translateX(50%);
    }
  }
  .views-exposed-form {
    .form--inline {
      display: flex;
      flex-wrap: wrap;
    }
    .form-item-search-api-fulltext {
      height: 30px;
      margin-top: 25px;
      max-width: 200px;
    }
    .form-actions {
      margin-top: 15px;
    }
  }
  .view-empty {
    max-width: 1115px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .view-header {
    max-width: 1115px;
    margin: 0 auto;
    position: relative;
    max-height: 85px;
    display: block;
    border-top: 1px solid $c-blue-normal;
    // border-width: 1px 0 1px 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    margin-bottom: 50px;

    .conference-filters {
      margin-bottom: -1px;
      padding: 30px;
      width: 100%;
      max-height: 85px;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 17px;
      border-bottom: 1px solid $c-blue-normal;

      @media #{$m-to-sm} {
        display: flex;
        justify-content: space-between;
        padding-bottom: 60px;
        max-height: 145px;
      }

      .link-history-back {
        color: $c-blue;
      }
    }

    .block-ila-reset-link-facets-block {
      position: absolute;
      top: 30px;
      right: 30px;
      white-space: nowrap;
      min-width: 170px;

      @media #{$m-to-sm} {
        top: 70px;
      }
    }

    .filter-open-btn,
    .reset-facet-filters {
      position: relative;
      margin-left: 15%;
      padding-left: 1.5em;
      color: $c-blue;

      &::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 11px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }

    .filter-open-btn {
      &::before {
        background-image: url('../img/controls-icon.svg');
      }
    }

    .reset-facet-filters {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 17px;
      opacity: 0;
      transition: .3s;

      &::before {
        background-image: url('../img/svg/cancel-icon.svg');
      }
    }
  }
  .facets-widget-ila_checkbox {
    > ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      color: #1D428A;

      > li {
        margin: 40px 0;
        padding: 0 40px;
        width: 30%;
        border-right: 1px solid #eeeeee;

        @media screen and (max-width: 1039px) {
          width: 33.33%;
        }

        @media screen and (max-width: 767px) {
          width: 100%;
          border-right: 0;
        }

        @media screen and (max-width: 499px) {
          padding: 0 20px;
        }

        &:nth-child(3n),
        &:last-of-type {
          border-right: 0;
        }

        > label {
          color: #1D428A;
          font-weight: 900;
          margin-bottom: 20px;
          text-transform: uppercase;
        }
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      list-style-image: none;
      li {
        color: $c-blue-normal;
        // text-transform: uppercase;
        font-size: 15px;
        font-weight: 300;
        line-height: 20px;
        &.facet-item--expanded {
          margin-bottom: 20px;
        }
      }
      ul {
        li {
          margin: 10px 0;
          margin-left: 13px;
        }
      }
    }

    .facets-widget- {
      ul {
        max-height: 280px;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }
  .pager:nth-of-type(2) {
    border-top: 1px solid $c-blue-normal;
    border-bottom: none;
  }
}

.conference-filters-opened {
  .view-press-media-search,
  .view-press-media-entity-search,
  .view-press-media-download-search {
    .view-header {
      max-height: 1500px;

      .reset-facet-filters {
        opacity: 1;
      }
    }
  }
}

.view-press-media-download-search {
  .facets-widget-ila_checkbox {
    > ul {
      > li {
        margin: 20px 0 !important;
        padding: 0 40px !important;
        width: 100%;
        @media screen and (min-width: 768px) {
          width: 25% !important;
          &:nth-child(3n) {
            border-right: 1px solid #eeeeee !important;
          }
          &:nth-child(4n),
          &:last-of-type {
            border-right: 0 !important;
          }
        }
      }
    }
  }
}

