.back-to-top {
  position: fixed;
  right: 55px;
  bottom: 120px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 40px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: .5s;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  @media screen and (max-width: 880px) {
    margin-right: 0;
  }
  @media screen and (max-width: 480px) {
    position: static;
    margin-left: auto;
    margin-right: auto;
  }

  &__link {
    @extend .round-btn;
    @extend .round-btn--top;
    background-size: 13px;
    background-color: rgba($c-white, .3);
    animation: pulse ease 2s infinite;

    &:hover,
    &:focus {
      background-color: rgba($c-white, .3);
    }
  }

  .contextual {
    right: 10px;
    top: -10px;
  }
}

@keyframes pulse {
  0% {
    background-position-y: center;
  }

  50% {
    background-position-y: 6px;
  }

  100% {
    background-position-y: center;
  }
}
