div#sliding-popup {
  background-color: #0D418F;
  .eu-cookie-compliance-content {
    max-width: 1160px;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .eu-cookie-compliance-message {
    max-width: 65%;
    h2 {
      font-size: 20px;
      max-width: 555px;
    }
    p {
      font-size: 15px;
      padding-bottom: 15px;
    }
    h2,
    p {
      font-weight: normal;
    }
  }
  .eu-cookie-compliance-buttons {
    max-width: 35%;
  }
  .eu-cookie-compliance-agree-button,
  .eu-cookie-compliance-more-button {
    margin-right: 5px;
    margin-top: 1em;
    width: 155px;
    height: 35px;
    vertical-align: middle;
    overflow: visible;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: inset none;
    background-color: transparent;
    background-image: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    font-weight: normal;
    padding: 4px 8px;
    text-decoration: none;
    text-shadow: none;
    display: block;
    &:focus {
      outline: 0;
    }
  }
  .eu-cookie-compliance-agree-button {
    border: 1px solid #2dccd3;
    color: #2dccd3;
    &:hover {
      border: 1px solid #fff;
      color: #fff;
    }
  }
  .eu-cookie-compliance-more-button {
    border: 0;
    color: #fff;
    text-decoration: underline;
    &:hover {
      color: #2dccd3;
    }
  }
}
